$cta: #fe8033;
$bg: #2b3039;
$text: #2d343e;

.dFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 50px 20px 50px;
  box-sizing: border-box;
  background-color: $bg;
}

.main_content {
  @extend .dFlex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  h3 {
    position: absolute;
    left: 41%;
    top: 0;
    color: #fff;
    font-size: 3vw;
  }

  .card {
    width: 30%;
    border-radius: 15px;
    @extend .dFlex;
    flex-direction: column;
    position: relative;
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
    margin-bottom: 50px;

    .card_img {
      margin-top: 5vh;
      img {
        width: 220px;
      }
    }

    .card_header {
      @extend .dFlex;
      flex-direction: column;
      color: #fff;
      margin: 25px 0;

      h2 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        text-align: center;
        color: rgba (#fff, 0.3);
        margin: 8px 0;
      }
      .price {
        font-size: 15px;
        color: $cta;
        vertical-align: top;
        span {
          font-size: 25px;
          display: inline-block;
        }
      }
    }
  }
  .card:hover {
    background-color: rgb(98, 97, 102);
    transform: scale(1);
    cursor: pointer;
    .btn {
      background-color: rgb(91, 45, 129);
      color: white;
    }
  }
  .card:hover {
    .btn {
      background-color: rgb(91, 45, 129);
      color: white;
    }
  }
}
.btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: rgb(147, 128, 219);
  color: $text;
  @extend .dFlex;
  cursor: pointer;
  position: relative;
  margin-bottom: 5px;
}
