.car-page {
  display: flex;
  justify-content: center;
}

.image {
  position: relative;
  top: 50px;
  left: 50px;
  width: 80%;
  height: auto;
}

.content {
  position: relative;
  top: 50px;
  width: 50%;
  padding-right: 10px;
}

.model {
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
button {
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  width: 90%;
  height: 20%;
  background: rgba(0, 0, 0, 0.897);
}
button:hover {
  color: rgba(0, 0, 0, 0.897);
  background-color: white;
}
